#arrow {
    
    margin-top: 20px;
    color: #fff;
}

#arrow:hover {
    
    color: #1e87a7;
}

#tools {
    color: #fff;
}



.date {
    font-size: 16px !important;
}

/* webkit solution */
::-webkit-input-placeholder

{ 
	text-align:center !important; 
}
/* mozilla solution */
input:-moz-placeholder 
{
	 text-align:center !important; 
}